@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Barlow Font */
@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-BlackItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Black.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-BoldItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-ExtraLight.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-ExtraBold.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Bold.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-LightItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-MediumItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Medium.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Italic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Light.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Thin.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-Regular.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-ThinItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow/Barlow-SemiBold.woff2') format('woff2'),
        url('fonts/Barlow/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Exo Font */
@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-BlackItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Black.woff2') format('woff2'),
        url('fonts/Exo/Exo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Bold.woff2') format('woff2'),
        url('fonts/Exo/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-ExtraBold.woff2') format('woff2'),
        url('fonts/Exo/Exo-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-BoldItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-ExtraLight.woff2') format('woff2'),
        url('fonts/Exo/Exo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-LightItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Medium.woff2') format('woff2'),
        url('fonts/Exo/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Italic.woff2') format('woff2'),
        url('fonts/Exo/Exo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Light.woff2') format('woff2'),
        url('fonts/Exo/Exo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-MediumItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Regular.woff2') format('woff2'),
        url('fonts/Exo/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-SemiBold.woff2') format('woff2'),
        url('fonts/Exo/Exo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-ThinItalic.woff2') format('woff2'),
        url('fonts/Exo/Exo-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo/Exo-Thin.woff2') format('woff2'),
        url('fonts/Exo/Exo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}